<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>个人中心</title>

    <!-- Bootstrap Core CSS -->
    <link href="./lib/sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="./lib/sb-admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./lib/sb-admin/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="./lib/sb-admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">中公优就业考勤管理系统</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a>欢迎：<span>大锤</span></a>
            </li>
            <li>
                <a href="login.html">退出</a>
            </li>
            <li>
                <a href="./profile.html">个人中心</a>
            </li>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> 首页</a>
                    </li>

                    <li>
                        <a href="news.html"><i class="fa fa-envelope-o fa-fw"></i> 新闻管理</a>
                    </li>


                    <li>
                        <a href="permission.html"><i class="fa fa-table fa-fw"></i> 权限管理</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 考勤管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="attendance_me.html">个人考勤</a>
                            </li>

                            <li>
                                <a href="attendance_subordinate.html">下属考勤</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> 人事管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="department.html">部门管理</a>
                            </li>
                            <li>
                                <a href="person.html">职员管理</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">个人中心</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <table class="table">
                            <tr>
                                <td>用户名</td>
                                <td>王大锤</td>
                            </tr>
                            <tr>
                                <td>密码</td>
                                <td>**********</td>
                            </tr>
                            <tr>
                                <td>昵称</td>
                                <td>zhy000001</td>
                            </tr>
                            <tr>
                                <td>性别</td>
                                <td>女</td>
                            </tr>
                            <tr>
                                <td>年龄</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>工号</td>
                                <td>无</td>
                            </tr>
                            <tr>
                                <td>电话</td>
                                <td>无</td>
                            </tr>
                            <tr>
                                <td>邮箱</td>
                                <td>无</td>
                            </tr>
                            <tr>
                                <td>照片</td>
                                <td>

                                    无

                                </td>
                            </tr>
                            <tr>
                                <td>地址</td>
                                <td>无</td>
                            </tr>
                            <tr>
                                <td>绩效</td>
                                <td>66.0</td>
                            </tr>
                            <tr>
                                <td>职位</td>
                                <td>市场部_部长</td>
                            </tr>
                            <tr>
                                <td>部门</td>
                                <td>市场部</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="./lib/sb-admin/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="./lib/sb-admin/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="./lib/sb-admin/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="./lib/sb-admin/dist/js/sb-admin-2.js"></script>

</body>

</html>